<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DisplayControl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5CE29AD91BDC3850001B0B21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CE29AE81BDC3850001B0B21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CE29AF31BDC3850001B0B21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
